[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-tabs = "*"

[dev-packages]
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
pylama = "*"
pipenv-to-requirements = "*"

[requires]
python_version = "3.6"

[scripts]
"serve:en" = "sphinx-autobuild en _build"
"serve:cs" = "sphinx-autobuild cs _build"
requirements = "pipenv run pipenv_to_requirements -f -o requirements.txt"
lint = "_scripts/lint.sh"
