[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "~=2.0.1"
sphinx-tabs = "~=1.1.10"
falcon = "~=1.4.1"  # used in Sphinx extensions to get status codes names

[dev-packages]
sphinx-autobuild = "==0.7.1"
sphinx-rtd-theme = "==0.4.3"
pylama = "~=7.7.1"
waitress = "~=1.2.1"

[requires]
python_version = "3.6"  # ReadTheDocs runtime

[scripts]
"serve:en" = "sphinx-autobuild en _build"
"serve:cs" = "sphinx-autobuild cs _build"
serve = "sphinx-autobuild cs _build"  # because I forget to add :cs EVERY SINGLE TIME
lint = "_scripts/lint.sh"
