[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Pinning packages with ~= unless their version starts with 0.,
# then pinning each version strictly with ==
sphinx = "~=2.1.1"
sphinx-tabs = "~=1.1.10"
falcon = "~=2.0.0"  # used in Sphinx extensions to get status codes names

[dev-packages]
# Pinning packages with ~= unless their version starts with 0.,
# then pinning each version strictly with ==
sphinx-autobuild = "==0.7.1"
sphinx-rtd-theme = "==0.4.3"
pylama = "~=7.7.1"
pytest = "~=4.6.3"
waitress = "~=1.3.0"
requests = "~=2.22.0"

[requires]
python_version = "3.6"  # ReadTheDocs runtime

[scripts]
"serve:en" = "sphinx-autobuild en _build"
"serve:cs" = "sphinx-autobuild cs _build"
serve = "sphinx-autobuild cs _build"  # because I forget to add :cs EVERY SINGLE TIME
test = "pytest"
lint-requirements = "_scripts/lint_requirements.sh"
linkcheck = "_scripts/linkcheck.sh"
