-i https://pypi.org/simple

# dependencies
sphinx==3.2.1
sphinx-tabs==1.2.1
falcon==2.0.0  # used in Sphinx extensions to get status codes names

# dev dependencies
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.5.0
pylama==7.7.1
pytest==5.4.3
waitress==1.4.4
requests==2.24.0
