-i https://pypi.org/simple

# dependencies
sphinx==3.0.2
sphinx-tabs==1.1.13
falcon==2.0.0  # used in Sphinx extensions to get status codes names

# dev dependencies
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.3
pylama==7.7.1
pytest==5.4.1
waitress==1.4.3
requests==2.23.0
