-i https://pypi.org/simple

# dependencies
sphinx==2.3.1
sphinx-tabs==1.1.13
falcon==2.0.0  # used in Sphinx extensions to get status codes names

# dev dependencies
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.3
pylama==7.7.1
pytest==5.3.2
waitress==1.4.2
requests==2.22.0
